@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
     @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

    :root{
      --headingColor: hsl(14, 45%, 36%);
      --containerColor:hsl(0, 0%, 100%);
      --bgColor: hsl(30, 54%, 90%);
    }

    .omelette-image{
      width:95%;
      height: 50vh;
      background: url('./assets/images/image-omelette.jpeg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 8px;
      margin: auto;
    }

    
    body{
      background-color: var(--bgColor);
      font-size: 16px;
      font-family: 'Outfit';
      font-weight: 300;
    }

    h1,.container h2{
      font-family: 'Young Serif';
    }

    .container h2{
      font-size: 1rem;
      color: var(--headingColor);
      font-weight: 500;
    }
    .container{
      background-color: var(--containerColor);
      margin: auto;
      display: flex;
      flex-direction: column;
      width: 80%;
      padding: 1rem;
    }

    .box-1{
      --containerColor:hsl(330, 100%, 98%);
      background-color:var(--containerColor);
    }

    .box-1 h2{
      --headingColor:hsl(332, 51%, 32%);
      color:var(--headingColor);
      font-weight:500;
    }

    .line{
      display: block;
      background-color: rgba(162, 161, 161, 0.333);
      height: 1px;
    }

    table{
      border-collapse: collapse;
    }
    tr{
      border-bottom: 2px solid black;
    }
     li b{
      font-weight: 500;
     }

    .table-row b{
      font-weight: 600;
      color:var(--headingColor);
    }